.a {
  background-color: red;
  color: #ffffff;
}

.b {
  background-color: #00ff00;
  color: #000000;
}

/* Comment */
.blu-class {
  background-color: #00ff00;
  color: #000000;
}

.blu-class {
  background-color: #00ff00;
  color: #000000;
}

.a { 
  margin: 13px;;
  // A comment here
}

#example, .esempio {
  background-color: #00ff00;
  color: #000000;
}

.c {
  background-color: red;
  color: #ffffff;
}

.empty-rules {
           
}

/* Last line comment */