# dependencies
node_modules/*

# css
lib.css
mine.css

# misc
*~
.DS_Store
*.pem
.idea/*
.vscode/*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# build
dist/

# coverage
coverage/