.a {
  background-color: red;
  color: #ffffff;
}

.b {
  background-color: #00ff00;
  color: #000000;
}

/* Comment */
.blu-class {
  background-color: #00ff00;
  color: #000000;
}

.blu-class {
  background-color: #00ff00;
  color: #000000;
}

.test-include {
  margin: 0px;
}

.test-include {
  margin: 0px 12px;
}

.a {
  margin: 13px;;
}

#example, .esempio {
  background-color: #00ff00;
  color: #000000;
}

.c {
  background-color: red;
  color: #ffffff;
}

.empty-rules {

}

.e {
  background-color: blueviolet;
  color: orangered;;
}

/* Last line comment */
