body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif
}

a {
  color: #0068A5
}

* {
  box-sizing: border-box
}

.xkvEr67uu-row {
  position: relative
}

.xkvEr67uu-row-content {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  position: relative
}

.xkvEr67uu-row-content.reverse,
.xkvEr67uu-row-content.reverse .xkvEr67uu-col {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1)
}

.xkvEr67uu-row-content .xkvEr67uu-col-w1 {
  flex-basis: 8.3333333333%
}

.xkvEr67uu-row-content .xkvEr67uu-col-w2 {
  flex-basis: 16.6666666667%
}

.xkvEr67uu-row-content .xkvEr67uu-col-w3 {
  flex-basis: 25%
}

.xkvEr67uu-row-content .xkvEr67uu-col-w4 {
  flex-basis: 33.3333333333%
}

.xkvEr67uu-row-content .xkvEr67uu-col-w5 {
  flex-basis: 41.6666666667%
}

.xkvEr67uu-row-content .xkvEr67uu-col-w6 {
  flex-basis: 50%
}

.xkvEr67uu-row-content .xkvEr67uu-col-w7 {
  flex-basis: 58.3333333333%
}

.xkvEr67uu-row-content .xkvEr67uu-col-w8 {
  flex-basis: 66.6666666667%
}

.xkvEr67uu-row-content .xkvEr67uu-col-w9 {
  flex-basis: 75%
}

.xkvEr67uu-row-content .xkvEr67uu-col-w10 {
  flex-basis: 83.3333333333%
}

.xkvEr67uu-row-content .xkvEr67uu-col-w11 {
  flex-basis: 91.6666666667%
}

.xkvEr67uu-row-content .xkvEr67uu-col-w12 {
  flex-basis: 100%
}

.xkvEr67uu-background-video-container,
.xkvEr67uu-iframe-video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none
}

.xkvEr67uu-background-video-container iframe,
.xkvEr67uu-background-video-container video,
.xkvEr67uu-iframe-video-container iframe,
.xkvEr67uu-iframe-video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh
}

.xkvEr67uu-form .xkvEr67uu-form-row.xkvEr67uu-form-row-multicolumn {
  display: flex
}

.xkvEr67uu-form .xkvEr67uu-form-row.xkvEr67uu-form-row-multicolumn.xkvEr67uu-sidelabel .xkvEr67uu-field {
  flex-wrap: nowrap
}

.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field {
  padding: 3px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center
}

.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field.xkvEr67uu-inline-field {
  flex-wrap: nowrap;
  align-items: flex-start;
  display: block
}

.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field .xkvEr67uu-form-options-vertical-orientation-wrapper {
  display: flex;
  flex-direction: column
}

.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field .xkvEr67uu-form-option-wrapper {
  align-items: flex-start;
  display: inline-flex
}

.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field .xkvEr67uu-form-option-wrapper>label {
  min-width: 0
}

.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field input:not([type=checkbox]):not([type=radio]),
.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field textarea,
.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field select {
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit
}

.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field input[type=checkbox]:not(:first-of-type),
.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field input[type=radio]:not(:first-of-type) {
  margin-left: 15px
}

.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer
}

.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field .xkvEr67uu-button-container {
  flex-grow: 1
}

.xkvEr67uu-form input[type=color] {
  border: none;
  height: 38px
}

.xkvEr67uu-form input[type=color]::-webkit-color-swatch-wrapper {
  margin: 0;
  padding: 2px
}

.xkvEr67uu-form input[type=color]::-webkit-color-swatch {
  margin: 0;
  padding: 0
}

.xkvEr67uu-form select {
  display: block;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: inherit;
  background-repeat: no-repeat;
  background-position: right center
}

.xkvEr67uu-icon {
  display: inline-block;
  vertical-align: middle
}

.xkvEr67uu-icon .xkvEr67uu-content {
  display: flex;
  align-items: center
}

.xkvEr67uu-image img,
.xkvEr67uu-addon img {
  display: block;
  width: 100%
}

.xkvEr67uu-list ul,
.xkvEr67uu-list ol {
  margin: 0;
  padding: 0 0 0 20px
}

.xkvEr67uu-list ul li,
.xkvEr67uu-list ol li {
  list-style-position: outside
}

.xkvEr67uu-menu .xkvEr67uu-hamburger-controls {
  cursor: pointer;
  display: inline-block;
  position: relative
}

.xkvEr67uu-menu .xkvEr67uu-hamburger-controls span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.12s ease-in-out
}

.xkvEr67uu-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.xkvEr67uu-menu ul.xkvEr67uu-horizontal li {
  display: inline-block
}

.xkvEr67uu-social .icon img {
  max-height: 32px
}

.xkvEr67uu-table table {
  border-collapse: collapse;
  width: 100%
}

.xkvEr67uu-table table tbody,
.xkvEr67uu-table table thead {
  vertical-align: top
}

.xkvEr67uu-table table td,
.xkvEr67uu-table table th {
  padding: 10px;
  word-break: break-word
}

.xkvEr67uu-video a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block
}

.xkvEr67uu-video img {
  display: block;
  width: 100%;
  height: auto
}

.xkvEr67uu-video svg {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center
}

.xkvEr67uu-video video {
  width: 100%;
  object-fit: cover
}

.xkvEr67uu-row-1 .xkvEr67uu-row-content {
  background-repeat: no-repeat;
  color: #000000
}

.xkvEr67uu-row-2 .xkvEr67uu-row-content {
  background-color: #751a7c;
  color: #000000;
  background-repeat: no-repeat;
  border-radius: 0
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

.xkvEr67uu-desktop_hide,
.xkvEr67uu-menu .xkvEr67uu-hamburger-trigger {
  display: none
}

.xkvEr67uu-button a,
.xkvEr67uu-icon .xkvEr67uu-icon-label-left a,
.xkvEr67uu-icon .xkvEr67uu-icon-label-top a,
.xkvEr67uu-icon .xkvEr67uu-icon-label-right a,
.xkvEr67uu-icon .xkvEr67uu-icon-label-bottom a,
.xkvEr67uu-menu ul li a {
  text-decoration: none
}

.xkvEr67uu-button-content,
.xkvEr67uu-html-block,
.xkvEr67uu-icon .xkvEr67uu-icon-label-top,
.xkvEr67uu-icon .xkvEr67uu-icon-label-bottom {
  text-align: center
}

.xkvEr67uu-divider,
.xkvEr67uu-image,
.xkvEr67uu-addon {
  overflow: auto
}

.xkvEr67uu-divider .center,
.xkvEr67uu-image .xkvEr67uu-center,
.xkvEr67uu-addon .xkvEr67uu-center {
  margin: 0 auto
}

.xkvEr67uu-divider .right,
.xkvEr67uu-image .xkvEr67uu-right,
.xkvEr67uu-addon .xkvEr67uu-right {
  float: right
}

.xkvEr67uu-form .xkvEr67uu-form-row.xkvEr67uu-form-row-multicolumn input:not([type=checkbox]):not([type=radio]),
.xkvEr67uu-form .xkvEr67uu-form-row.xkvEr67uu-form-row-multicolumn textarea,
.xkvEr67uu-form .xkvEr67uu-form-row.xkvEr67uu-form-row-multicolumn select,
.xkvEr67uu-row-3 .xkvEr67uu-col-1 .xkvEr67uu-block-2 {
  width: 100%
}

.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field .xkvEr67uu-form-option-wrapper>input,
.xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field input[type=radio] {
  margin: 0 0 0 3px
}

.xkvEr67uu-paragraph,
.xkvEr67uu-text {
  overflow-wrap: anywhere
}

.xkvEr67uu-row-1,
.xkvEr67uu-row-2,
.xkvEr67uu-row-3,
.xkvEr67uu-row-4 {
  background-repeat: no-repeat
}

.xkvEr67uu-row-1 .xkvEr67uu-col-1,
.xkvEr67uu-row-2 .xkvEr67uu-col-1,
.xkvEr67uu-row-3 .xkvEr67uu-col-1,
.xkvEr67uu-row-4 .xkvEr67uu-col-1,
.xkvEr67uu-row-4 .xkvEr67uu-col-2,
.xkvEr67uu-row-4 .xkvEr67uu-col-3 {
  padding-bottom: 5px;
  padding-top: 5px
}

.xkvEr67uu-row-1 .xkvEr67uu-col-1 .xkvEr67uu-block-1,
.xkvEr67uu-row-2 .xkvEr67uu-col-1 .xkvEr67uu-block-1,
.xkvEr67uu-row-3 .xkvEr67uu-col-1 .xkvEr67uu-block-1 {
  width: 100%;
  text-align: center
}

.xkvEr67uu-row-3 .xkvEr67uu-row-content,
.xkvEr67uu-row-4 .xkvEr67uu-row-content {
  color: #000000;
  background-repeat: no-repeat;
  border-radius: 0
}

.xkvEr67uu-row-4 .xkvEr67uu-col-1 .xkvEr67uu-block-1,
.xkvEr67uu-row-4 .xkvEr67uu-col-2 .xkvEr67uu-block-1,
.xkvEr67uu-row-4 .xkvEr67uu-col-3 .xkvEr67uu-block-1 {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px
}

.xkvEr67uu-row-1 .xkvEr67uu-col-1 .xkvEr67uu-block-1 h1,
.xkvEr67uu-row-2 .xkvEr67uu-col-1 .xkvEr67uu-block-1 h1,
.xkvEr67uu-row-3 .xkvEr67uu-col-1 .xkvEr67uu-block-1 h1 {
  color: #555555;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 120%;
  text-align: center;
  direction: ltr;
  font-weight: 700;
  letter-spacing: normal
}

.xkvEr67uu-row-4 .xkvEr67uu-col-1 .xkvEr67uu-block-1 div,
.xkvEr67uu-row-4 .xkvEr67uu-col-2 .xkvEr67uu-block-1 div,
.xkvEr67uu-row-4 .xkvEr67uu-col-3 .xkvEr67uu-block-1 div {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  background-color: #3AAEE0;
  border-radius: 4px;
  color: #ffffff;
  line-height: 200%;
  letter-spacing: 0;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  width: auto;
  direction: ltr
}

@media (min-width: 768px) {
  .xkvEr67uu-form .xkvEr67uu-form-row .xkvEr67uu-field.xkvEr67uu-half-width {
    width: 50%
  }
}

@media (max-width: 520px) {
  .xkvEr67uu-form-row-multicolumn {
    display: block !important
  }

  .xkvEr67uu-form form {
    width: 100% !important
  }

  img.xkvEr67uu-fullwidthOnMobile {
    max-width: none !important
  }

  .xkvEr67uu-menu ul.with-xkvEr67uu-hamburger {
    display: none;
    padding: 5px 0;
    position: relative;
    top: -4px
  }

  .xkvEr67uu-menu ul.with-xkvEr67uu-hamburger li {
    display: block;
    text-align: center
  }

  .xkvEr67uu-menu ul.with-xkvEr67uu-hamburger li a {
    text-decoration: none
  }

  .xkvEr67uu-menu ul.with-xkvEr67uu-hamburger span {
    display: none
  }

  .xkvEr67uu-row-content:not(.no_stack) {
    display: block
  }

  .xkvEr67uu-desktop_hide {
    display: block !important
  }

  .xkvEr67uu-mobile_hide {
    display: none
  }
}
